<span id="pc_form_<%= category.id %>" class="fields form-inline">
	<% if ProductCategory.find_by_product_id_and_category_id(product,category) %>
		<%= render 'rmcat', product: product, category: category %>
	<% else %>
		<%= render 'addcat', product: product, category: category %>
	<% end %>
</span>
